<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PROJECTS Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8080bb">  <td>18/01/24 13:50:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTestCases.beforeTest(java.lang.String)[pri:0, instance:com.arc.SkysiteMarketPlace.testscripts.RegistrationPageTestCases@79be0360]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1110623531</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>18/01/24 13:50:33</td>   <td>141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTestCases.Verify_RegistrationNumber()[pri:0, instance:com.arc.SkysiteMarketPlace.testscripts.RegistrationPageTestCases@79be0360]">Verify_RegistrationNumber</td> 
  <td>main@1110623531</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>18/01/24 13:50:33</td>   <td>141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTestCases.Verify_RegistrationNumber_OtherLocation()[pri:1, instance:com.arc.SkysiteMarketPlace.testscripts.RegistrationPageTestCases@79be0360]">Verify_RegistrationNumber_OtherLocation</td> 
  <td>main@1110623531</td>   <td></td> </tr>
</table>
